#tournoiCalendrier{
    display: flex;
    justify-content: center;
}
#zoneCalendrier{
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    min-height: 270px;
}
.enteteCalendrier{
    width: 593px;
    height: 30px;
    border: 1px solid black;
}
.enteteDate{
    text-align: center;
    font-size: 1.5rem;
}
/*** Fleches ***/
.goDroite, .goGauche{
    width: 25px;
    height: 242px;
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}
.goGauche::after{
    content: '◀︎';
    position:absolute;
    top: 105px;
    right: 5px;
}
.goDroite::after{
    content: '▶︎';
    position:absolute;
    top: 105px;
    left: 5px;
}
.goGauche:hover, .goDroite:hover{
    background-color: grey;
}


/*** Jours ***/
.zoneJours{
    display: flex;
    flex-flow: row wrap;
    width: 542px;
    border: 1px solid black;
}
.jour{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}
.jour:hover{
    background-color: green;
}
.jourHead{
    font-size: 1.3rem;
    height: 40px;
}
.jourBody{
    height: 20px;
}
.yatournoi{
    background-color: lightblue;
    position: relative;
}
.logoTournoi{
    position: absolute;
    top: 20px;
    left: 22px;
}
/*** Inputs ***/
#zoneInputs{
    width: 592px;
    min-height: 100px;
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.calTitreh3{
    text-align: center;
}
.formTournois{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#zoneInputs input[type='submit']{
    margin-left: auto;
    margin-right: auto;
}
/*** Quill ***/
.standalone-container2{
    display: block;
    width: 100%;
    min-height: 200px;
}
#snow-container2{
    display: block;
    height: 130px;
}

/*** Responsiv ***/

@media screen and (max-width: 640px){
    #zoneCalendrier{
        width: 320px;
    }
    .enteteCalendrier{
        width: 320px;
    }
    .zoneJours{
        width: 270px;
        height: 372px;
    }
    .jour{
        width: 53px;
        height: 53px;
    }
    .jourHead{
        height: 33px;
    }
    .jourBody{
        height: 20px;
    }
    .goDroite, .goGauche{
        height: 372px;
    }
    .goDroite::after, .goGauche::after{
        top:170px;
    }
}