@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*
*   titres : font-family: 'Merriweather', serif;
*   textes : font-family: 'Roboto', sans-serif;
*/
/****************
*   General
****************/
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

/* Class générales  */
.mAuto{
    margin-left: auto;
    margin-right: auto;
}
.txtCenter{
    text-align: center;
}
.dBlock{
    display: block;
}
.dNone{
    display: none;
}
.dFlex{
    display: flex;
}


/**************
*   Template
**************/
#topHeader{
    background-color: #a06200;
    color: white;
    text-align: center;
    font-size: .9rem;
}
#banner{
    background-image: url("../images/tempBan.jpg");
    background-position: center;
    padding: 75px 0 75px 0;
    text-align: center;
}
#navBar{
    background-color: #a06200;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#midContent{
    display: flex;
    flex-flow: column wrap;
}
#midContent aside{
    order: 1;
}
#midContent main{
    order: 2;
}
#motd{
    background-color: cadetblue;
    padding: 25px;
    text-align: center;
}
#desktopNav{
    display: none;
}
footer{
    padding: 5px;
    background-color: #a06200;
}
nav ul{
    padding: 0;
}
nav ul li {
    list-style: none;
}
/*** Navbar Burgered ***/
.togglingMenu{
    position: fixed;
    transform: translateX(-250px);
    transition: transform 1s;
}
#togglingMenu nav{
    background-color: white;
    height: 100vh;
    border-right: 1px solid black;
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.toggleNavAnimation{
    transform: translateX(0);
}

/*** Responsive tempalte ***/
@media screen and (min-width: 1025px){
    body{
        background-color: #3a1c09;
    }
    #banner, #navBar, #midContent{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1918px;
    }    
    #midContent {
        background-color: rgb(255, 249, 236);
        flex-flow: row wrap;
    }
    #midContent aside{
        width: 20%;
        order: 2;
    }
    #midContent main{
        width: 80%;
        order: 1;
    }
    #hamburger{
        display: none;
    }
    #desktopNav{
        display: block;
        width: 80%;
    }
    #desktopNav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
    }
    #desktopNav ul li{
        padding-right: 25px;
    }
}


/**************
*   Accueil
**************/
.cardArticle{
    width: 80%;
    border: 1px solid black;
    padding: 0 15px 15px 15px;
    margin-bottom: 25px;
}
.infoArticle{
    margin-bottom: 5px;
    font-style: italic;
    font-size: .9rem;
}
.cardArticle img{
    width: 100%;
    height: auto;
}
.cardArticle h3{
    text-align: center;
}
.cardArticle .lienArticle{
    display: block;
    text-align: right;
}
.cardHeader{
    display: none;
}
/*** Responsiv Accueil ***/
@media screen and (min-width: 1025px){
    .cardHeader{
        display: block;
        width: 30%;
    }
    .cardBody{
        width: 70%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .cardArticle{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 5px;
    }
    .cardBody img{
        display: none;
    }
    .cardArticle h3{
        text-align: left;
        order: 2;
    }
    .infoArticle{
        text-align: left;
        order: 3;
    }
    .resumeArticle{
        order: 4;
    }
    .lienArticle{
        order: 5;
    }
}