@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*
*   titres : font-family: 'Merriweather', serif;
*   textes : font-family: 'Roboto', sans-serif;
*/
/****************
*   General
****************/
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

/* Class générales  */
.mAuto{
    margin-left: auto;
    margin-right: auto;
}
.txtCenter{
    text-align: center;
}
.dBlock{
    display: block;
}
.dNone{
    display: none;
}
.dFlex{
    display: flex;
}
.successStat{
    background-color: lightgreen;
}
.errorStat{
    background-color: rgb(255, 130, 130);
}


/**************
*   Template
**************/


#topHeader{
    position: relative;
    z-index: 20;
    background-color: #a06200;
    color: white;
    text-align: center;
    font-size: .9rem;
    box-shadow: 1px -2px 7px 5px rgba(0,0,0,0.63);
}
#banner{
    position: relative;
    background-image: url("../images/tempBan.jpg");
    background-position: center;
    padding: 75px 0 75px 0;
    text-align: center;
}
#logoSite{
    -webkit-box-shadow: 0px 0px 23px -3px rgba(255,253,245,0.81); 
    box-shadow: 0px 0px 23px -3px rgba(255,253,245,0.81);
}
#linksBanner{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 5px;
}
#linksBanner img{
    width: 35px;
    height: auto;
    opacity: .8;
    filter: grayscale(.9);
    transition: filter .2s linear, opacity .2s linear;
}
#linksBanner img:hover{
    opacity: 1;
    filter: grayscale(0);
}

#navBar{
    background-color: #a06200;
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    height: 75px;
}
#midContent{
    display: flex;
    flex-flow: column wrap;
}
#midContent aside{
    order: 1;
}
#midContent main{
    order: 2;
}
#motd{
    /*background-color: cadetblue;*/
    padding: 25px;
    text-align: center;
}
#desktopNav{
    display: none;
}
.ctaButton{
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.1rem;
    background-color: rgb(0, 162, 38);
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color .2s linear;
}
.ctaButton:hover{
    background-color: rgb(0, 198, 46);
}
main{
    background-color:  rgb(255, 249, 236);
    padding: 75px 0 75px 0;
}
footer{
    padding: 5px;
    background-color: #a06200;
}
nav ul{
    padding: 0;
}
nav ul li {
    list-style: none;
}
/*** Navbar Burgered ***/
.togglingMenu{
    position: fixed;
    transform: translateX(-250px);
    transition: transform 1s;
    z-index: 500;
}
#togglingMenu nav{
    background-color: white;
    height: 100vh;
    border-right: 1px solid rgb(135, 135, 135);
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.toggleNavAnimation{
    transform: translateX(0);
}

/*** Connected stuff ***/
/*** Inscription ***/
#formInscription{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
#formInscription input{
    margin-bottom: 15px;
}
.iconSignIn{
    width: 15px;
    height: 15px;
}
#aideBoxPassword{
    background-color: white;
    border: dotted 1px black;
    font-size: .8rem;
}
#boxMdp1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#boxMdp1>div{
    margin-bottom: 5px;
}
/*** Utilisateurs ***/
#isConn{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    transition: border .2s linear, background-color .2s linear;
    cursor: pointer;
}
#isConn:hover{
    border: 1px solid rgba(255, 255, 255, 0.589);
    background-color: rgba(255, 255, 255, 0.185);
}
#isConn span{
    margin-right: 15px;
    color: white;
    font-weight: bold;
}

.roundAvatar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid rgb(222, 255, 222);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.roundAvatar img{
    width: 55px;
    height: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transition: width .2s linear;
}
.roundAvatar img:hover{
    width: 60px;
}
.menuProfil{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    padding: 15px;
    transform: translateX(250px);
    transition: transform 1s;
}
.toggleProfilNavAnimation{
    transform: translateX(0);
}
/*** Profil ***/
#formProfil{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#formProfil *{
    width: 30%;
}
#formProfil input{
    margin-bottom: 10px;
}
#formProfil input[type='submit']{
    width: 20%;
}
#formProfil img{
    width: 20%;
}

/*** Responsive tempalte ***/
@media screen and (min-width: 1025px){
    body{
        background-color: #3a1c09;
    }
    #topHeader{
        position: relative;
        z-index: 20;
    }
    #visuelPage{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 1918px;
        box-shadow: 0px 0px 18px 7px #000000;
        z-index: 10;
    }
      
    #midContent {
        background-color: rgb(255, 249, 236);
        flex-flow: row wrap;
    }
    #midContent aside{
        width: 20%;
        order: 2;
    }
    #midContent main{
        width: 80%;
        order: 1;
    }
    #hamburger{
        display: none;
    }
    #desktopNav{
        display: block;
        width: 80%;
    }
    #desktopNav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
    }
    #desktopNav ul li{
        padding-right: 25px;
    }
    #desktopNav ul li a{
        text-decoration: none;
        color: white;
        transition: color .2s linear;
    }
    #desktopNav ul li a:hover{
        color: rgb(0, 0, 0);
    }
}


/**************
*   Accueil
**************/
.cardArticle{
    width: 80%;
    border: 1px solid rgb(148, 148, 148);
    padding: 0 15px 15px 15px;
    margin-bottom: 25px;
    background-color: white;
}
.infoArticle{
    margin-bottom: 5px;
    font-style: italic;
    font-size: .9rem;
}
.cardArticle img{
    width: 100%;
    height: auto;
}
.cardArticle h3{
    text-align: center;
}
.cardArticle .lienArticle{
    display: block;
    text-align: right;
}
.cardHeader{
    display: none;
}

/*** Responsiv Accueil ***/
@media screen and (min-width: 1025px){
    .cardHeader{
        display: block;
        width: 30%;
    }
    .cardBody{
        width: 70%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .cardArticle{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 5px;
    }
    .cardBody img{
        display: none;
    }
    .cardArticle h3{
        text-align: left;
        order: 2;
    }
    .infoArticle{
        text-align: left;
        order: 3;
    }
    .resumeArticle{
        order: 4;
    }
    .lienArticle{
        order: 5;
    }
}

/**************
*   BackOffice
**************/

#formLogin{
    width: 50%;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    padding: 25px;
}
#formLogin form{
    display: flex;
    flex-flow: row wrap;
}
#formLogin form *{
    width: 100%;
    margin-bottom: 15px;
}
#formLogin form input[type='submit']{
    width: 50%;
    padding: 10px 0 10px 0;
    margin-bottom: 0;
    border: 1px solid rgb(75, 73, 67);
    border-radius: 25px;
}
#formLogin form input[type='text'],#formLogin form input[type='password']{
    background-color: rgb(255, 249, 236);
    border: 1px solid rgb(75, 73, 67);
    padding: 5px;
}
#msgError{
    text-align: center;
    color: rgb(126, 0, 0);
    border: 1px solid rgb(255, 112, 112);
    background-color: rgb(255, 189, 189);
}
/*** Management ***/
.managementTable{
    border: 1px black solid;
}
.managementTable tr td{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
}
.managementTable tr:first-child td{
    font-size: 1.1rem;
}
.managementTable tr:nth-child(odd) td{
    background-color: rgb(255, 244, 206);
}
.managementTable tr td a{
    color: black;
}
.managementTable tr td a:hover{
    color: rgb(40, 186, 0);
}
#buttonManagementAticle{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
#buttonManagementAticle i{
    color: green;
    transition: color .1s linear;
}
#buttonManagementAticle a:hover, #buttonManagementAticle a:hover i{
    color: lightgreen;
}

#buttonManagementAticle a{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    transition: color .1s linear;
}
/*** MOTD ***/
#formMotd{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
#formMotd input, #formMotd textarea{
    margin-bottom: 15px;
}
#formMotd textarea{
    resize: none;
}